header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #000;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

header h2 {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

hr {
    color: #4f5663;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: none;
}

header nav ul {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    padding: 16px 16px;
    text-wrap: nowrap;
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

header .banner {
    background-image: url("img/banner.png");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 200px 0 0px 0;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: lightgray;
    margin-top: 20px;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}

footer ul li {
    display: block;
    padding: 0 0 10px 0;
}

footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}

.footer-links {
    width: 14px;
    float: right;
    margin-right: 40px;
}

.footer-links img {
    width: 400%;
    margin-bottom: 10px;
    border-radius: 50%;
}

.about-us-header {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    color: #3a383d;
    text-transform: uppercase;
    margin: 30px 0px 0px 48px;
}

.about-us {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 50px 30px 50px;
}

.about-us-text {
    flex-basis: 100%
}

.about-us-image {
    margin: 10px;
    position: relative;
    text-align: center;
    flex-basis: 100%
}

.about-us-image img {
    width: 100%;
}

.recipes-header {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    color: #3a383d;
    text-transform: uppercase;
    margin: 30px 0px 0px 48px;
    display: none;
}

.cuisine-links {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.cuisine-header {
    font-family: "Open Sans", sans-serif;
    font-size: calc(2vw);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.cuisine-image {
    margin: 10px;
    position: relative;
    text-align: center;
    flex-basis: 100%
}

.cuisine-image img {
    width: 70%;
    border-radius: 50%;
}

.cuisine-image :hover .cuisine-header{
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .about-us-image {
        display: none;
    }
    .recipes-header {
        display: block;
    }
    .cuisine-links {
        flex-flow: column;
        margin-top: 10px;
    }
    .cuisine-header {
        font-size: calc(3vw + 4px);
    }
    hr {
        display: block;
    }
    header .banner {
        height: calc(100vh - 900px);
    }
}